@using System.Web
@using Web.Models.Dtos
@model Contact
@{
    string url = ViewBag.Url;
    var f = Model.Adress;
}

@if (!string.IsNullOrEmpty(url) && url != "/BizeUlasin")
{
    <div class="container">
        <div class="row justify-content-center py-4 text-center">
            <div class="col">
                <a class="text-uppercase font-weight-bold text-3 text-color-light icon-aria-expanded-change" data-bs-toggle="collapse" href="#hiddenMap" role="button" aria-expanded="false" aria-controls="hiddenMap">
                    Konum Bilgisi Al <i class="ms-1 fas fa-chevron-down"></i><i class="ms-1 fas fa-chevron-up"></i>
                </a>
            </div>
        </div>
    </div>
    <div class="collapse" id="hiddenMap">
        <div id="googlemaps" class="google-map map-style-1 m-0" style="height: 475px;">           
            @*@Html.Raw(HttpUtility.HtmlDecode(Model.MapAdress))*@
        </div>
    </div>
    <div class="footer-bg-color-2 footer-bottom-light-border">
        <div class="container">
            <div class="row justify-content-center text-center">
                <div class="col py-5">
                    <a href="/" class="logo">
                        <img alt="" src="~/N_2.png" height="64">
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div class="footer-bg-color-2 footer-bottom-light-border">
        <div class="container">
            <div class="row justify-content-center text-center py-5">
                <div class="col-md-4 text-center mb-4 mb-md-0">
                    <i class="fas fa-map-marker-alt text-9 text-color-light mb-3 mt-2"></i>
                    <p class="mb-0">
                        <strong class="text-color-light text-uppercase">@Model.Name</strong>
                        <span class="d-block text-2 p-relative bottom-3">@Model.Adress</span>
                    </p>
                </div>
                <div class="col-md-4 text-center mb-4 mb-md-0">
                    <i class="far fa-clock text-9 text-color-light mb-3 mt-2"></i>
                    <p class="mb-0">
                        <strong class="text-color-light text-uppercase">Çalışma Gün ve Saatleri</strong>                   
                        <span class="d-block text-2 p-relative bottom-3">@Model.WorkDay1&nbsp;/&nbsp;@Model.WorkHour1</span>
                        <span class="d-block text-2 p-relative bottom-3">@Model.WorkDay2&nbsp;/&nbsp;@Model.WorkHour2</span>
                        <span class="d-block text-2 p-relative bottom-3">@Model.WorkDay3&nbsp;/&nbsp;@Model.WorkHour3</span>
                    </p>
                </div>
                <div class="col-md-4 text-center">
                    <i class="fas fa-phone-volume text-9 text-color-light mb-3 mt-2"></i>
                    <p class="mb-0">
                        <strong class="text-color-light text-uppercase">Bize Ulaşın</strong>
                        <span class="d-block text-2 p-relative bottom-3"><a href="tel:@Model.Phone1" class="text-decoration-none">@Model.Phone1</a></span>
                        <span class="d-block text-2 p-relative bottom-3"><a href="mailto:@Model.Email" class="text-decoration-none">@Model.Email</a></span>
                    </p>
                </div>
            </div>
        </div>
    </div>

}
<div class="footer-copyright">
    <div class="container py-2">
        <div class="row py-4">
            <div class="col text-center">
                <ul class="footer-social-icons social-icons social-icons-clean social-icons-icon-light mb-3">
                    <li class="social-icons-facebook"><a href="@Model.InstagramAccount" target="_blank" title="Facebook"><i class="fab fa-instagram text-2"></i></a></li>
                    <li class="social-icons-twitter"><a href="@Model.TwitterAccount" target="_blank" title="Twitter"><i class="fab fa-twitter text-2"></i></a></li>
                    <li class="social-icons-linkedin"><a href="@Model.LinkedInAccount" target="_blank" title="Linkedin"><i class="fab fa-linkedin-in text-2"></i></a></li>
                </ul>
                <p>Çamaşırhane Ekipmanları © Copyright 2022. Tüm Hakları Saklıdır.</p>
            </div>
        </div>
    </div>
</div>