@using Web.Models.Dtos
@{
    var categories = ViewBag.Categories as List<Category>;
    var slider = ViewBag.Slider as List<Slider>;
    var blogs = ViewBag.ThreeBlog as List<Blog>;
    var refrences = ViewBag.Refrences as List<Referance>;
    TempData["Title"] = "Anasayfa";
    string url = string.Empty;
    int i = 1;
}

<div role="main" class="main">
    <div class="owl-carousel-wrapper position-relative" style="height: 670px">
        <div class="owl-carousel-loader">
            <div class="bounce-loader">
                <div class="bounce1"></div>
                <div class="bounce2"></div>
                <div class="bounce3"></div>
            </div>
        </div>
        <div class="owl-carousel dots-inside dots-horizontal-center show-dots-hover nav-inside nav-inside-plus nav-dark nav-md nav-font-size-md show-nav-hover mb-0" data-plugin-options="{'responsive': {'0': {'items': 1}, '479': {'items': 1}, '768': {'items': 1}, '979': {'items': 1}, '1199': {'items': 1}}, 'loop': false, 'autoHeight': false, 'margin': 0, 'dots': true, 'dotsVerticalOffset': '-75px', 'nav': true, 'animateIn': 'fadeIn', 'animateOut': 'fadeOut', 'mouseDrag': false, 'touchDrag': false, 'pullDrag': false, 'autoplay': true, 'autoplayTimeout': 9000, 'autoplayHoverPause': true, 'rewind': true}">
            @foreach (var itemS in slider)
            {
                var imag = StaticDetails.GetImage(itemS.ImageName);
                <div class="position-relative" data-dynamic-height="['670px','670px','670px','550px','500px']" style="background-image: url(@imag); background-size: cover; background-position: center; height: 670px;">
                    <div class="container position-relative z-index-1 h-100">
                        <div class="d-flex flex-column align-items-center justify-content-center h-100">
                            <h3 class="position-relative text-color-light text-5 line-height-5 font-weight-medium px-4 mb-2 appear-animation" data-appear-animation="fadeInDownShorter" data-plugin-options="{'minWindowWidth': 0}">
                                <span class="position-absolute right-100pct top-50pct transform3dy-n50 opacity-3">
                                    <img src="~/assets/img/slides/slide-title-border.png" class="w-auto appear-animation" data-appear-animation="fadeInLeftShorter" data-appear-animation-delay="250" data-plugin-options="{'minWindowWidth': 0}" alt="" />
                                </span>
                                @itemS.SliderName &nbsp; @itemS.Content1
                                <span class="position-relative">
                                    @itemS.Content2
                                    <span class="position-absolute left-50pct transform3dx-n50 top-0 mt-4">
                                        <img src="~/assets/img/slides/slide-blue-line.png" class="w-auto appear-animation" data-appear-animation="fadeInLeftShorterPlus" data-appear-animation-delay="1000" data-plugin-options="{'minWindowWidth': 0}" alt="" />
                                    </span>
                                </span>
                                <span class="position-absolute left-100pct top-50pct transform3dy-n50 opacity-3">
                                    <img src="~/assets/img/slides/slide-title-border.png" class="w-auto appear-animation" data-appear-animation="fadeInRightShorter" data-appear-animation-delay="250" data-plugin-options="{'minWindowWidth': 0}" alt="" />
                                </span>
                            </h3>
                            <h1 class="text-color-light font-weight-extra-bold text-12 mb-3 appear-animation" data-appear-animation="blurIn" data-appear-animation-delay="500" data-plugin-options="{'minWindowWidth': 0}">
                                @itemS.Content3
                            </h1>
                            <a href="@itemS.Link" class="text-4 text-color-light font-weight-light opacity-7 mb-0 btn btn-outline btn-info mb-2" data-plugin-animated-letters data-plugin-options="{'startDelay': 1000, 'minWindowWidth': 0}">
                                @itemS.ButtonName
                            </a>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>

    <div class="container" style="z-index:9999;">
        <div class="row">
            @foreach (var item in categories)
            {
                <div class="col-md-6 col-lg-4 mb-5 mb-lg-0">
                    <div class="card flip-card flip-card-3d bg-transparent text-center rounded-0" itemscope="" itemtype="https://schema.org/WebPage">
                        <div class="flip-front p-5">
                            <div class="flip-content my-4">
                                <img src="@StaticDetails.GetImage(item.ImagePath)" style=" height:90px;" />
                                <h4 class="font-weight-bold text-color-primary text-4" itemprop="name">@item.Name.ToUpper()</h4>
                            </div>
                        </div>
                        <div class="flip-back d-flex align-items-center p-5" style="background-image: url(@StaticDetails.GetImage(item.ImagePath)); background-size: cover; background-position: center; background-color:#1C658C;">
                            <div class="flip-content my-4">
                                <h4 class="font-weight-bold text-color-light">@item.Name.ToUpper()</h4>
                                <p class="font-weight-light text-color-light" itemprop="description">@item.ShortDesc</p>
                                <a href="/Urunler/@StringProcess.GetPath(item.Name)/@item.Id" class="btn btn-light btn-modern text-color-dark font-weight-bold">Ürünlere Git</a>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
   
   


    <section class="section section-custom-map appear-animation lazyload" data-appear-animation="fadeInUpShorter" data-src-bg="~/map.webp" style="background-color: transparent; background-position: center 0; background-repeat: no-repeat;">
        <section class="section section-default section-footer">
            <div class="container">
                @if (refrences != null && refrences.Count > 0)
                {
                    <div class="row">
                        <div class="col">
                            <h4 class="text-center">Referanslarımız</h4>
                            <div class="owl-carousel owl-theme stage-margin nav-style-1 owl-loaded owl-drag owl-carousel-init" data-plugin-options="{'items': 6, 'margin': 10, 'loop': false, 'nav': true, 'dots': false, 'stagePadding': 40}" style="height: auto;">
                                <div class="owl-stage-outer">
                                    <div class="owl-stage" style="transform: translate3d(-348px, 0px, 0px); transition: all 0.25s ease 0s; width: 1824px; padding-left: 40px; padding-right: 40px;">
                                        @*@foreach (var item in refrences)*@
                                        @for (var j = 0; j < 7; j++)
                                        {
                                            <div class="owl-item" style="width: 164.333px; margin-right: 10px;">
                                                <div>
                                                    <img alt="" class="img-fluid rounded" src="~/dummylogoref.webp">
                                                </div>
                                            </div>
                                        }
                                    </div>
                                </div>
                                <div class="owl-nav">
                                    <button type="button" role="presentation" class="owl-prev"></button>
                                    <button type="button" role="presentation" class="owl-next"></button>
                                </div>
                                <div class="owl-dots disabled">
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </section>
    </section>
     @if (blogs != null && blogs.Count > 0)
    {
        <div class="container">
            <div class="row mt-4">
                <div class="col-lg-12 text-center appear-animation animated fadeInUpShorter appear-animation-visible" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="400" style="animation-delay: 400ms;margin-top:50px;">
                    <h2 class="font-weight-normal text-6 mt-3 mb-5">Yeni <strong class="font-weight-extra-bold">Bloglar</strong></h2>
                </div>
            </div>
            <div class="row recent-posts pb-4 mb-5 appear-animation animated fadeInRightShorter appear-animation-visible" data-appear-animation="fadeInRightShorter" data-appear-animation-delay="200" style="animation-delay: 200ms;">
                @foreach (var itemblog in blogs)
                {
                    <div class="col-md-6 col-lg-3">
                        <article>
                            <div class="row">
                                <div class="col-auto pe-0">
                                    <div class="date">
                                        <span class="day text-color-dark font-weight-extra-bold">@itemblog.CreateDate.Day</span>
                                        <span class="month bg-color-primary font-weight-semibold text-color-light text-1">@itemblog.CreateDate.DayOfWeek</span>
                                    </div>
                                </div>
                                <div class="col ps-1">
                                    <h4 class="line-height-3 text-4"><a href="/Blog/@itemblog.Id" class="text-dark">@itemblog.Title</a></h4>
                                    <p class="line-height-5 pe-3 mb-1">@itemblog.ShortDesc</p>
                                    <a class="btn btn-light text-uppercase text-primary text-1 py-2 px-3 mb-1 mt-2" href="/Blog/@itemblog.Id"><strong>OKU</strong><i class="fas fa-chevron-right text-2 ps-2"></i></a>
                                </div>
                            </div>
                        </article>
                    </div>
                }
            </div>
        </div>
    }
     <section class="parallax section section-text-light section-parallax section-center py-0" data-plugin-parallax="" data-plugin-options="{'speed': 1.5, 'scrollableParallax': true, 'scrollableParallaxMinWidth': 991, 'startOffset': 10, 'cssProperty': 'width', 'cssValueStart': 40, 'cssValueEnd': 100, 'cssValueUnit': 'vw'}" data-image-src="mainpageblog1.webp">
        <div class="d-flex justify-content-center">
            <div class="scrollable-parallax-wrapper" style="background-image: url(&quot;mainpageblog1.webp&quot;); background-size: cover; background-position: center center; background-attachment: fixed; transition: width 200ms ease 0s; width: 100vw;">
                <div class="container py-5 my-5">
                    <div class="row justify-content-center">
                        <div class="col-lg-12">
                            <h4  style="color:#525252">Centered</h4>

                            <div data-plugin-readmore="" data-plugin-options="{'buttonOpenLabel' : 'Read More <i class=\' fas fa-chevron-down text-2 ms-1\'> </i>', 'buttonCloseLabel': 'Read Less <i class=\'fas fa-chevron-up text-2 ms-1\'></i>', 'align': 'center'}" class="position-relative" style="height: 110px; overflow: hidden; max-height: none;">
                                @{
                                    for (var k = 0; k < 20; k++)
                                    {
                                         <p style="color:#525252">Lorem ipsum dolor, sit amet consectetur adipisicing, elit. Totam placeat dolores, minima voluptas quo eos, repellat delectus inventore velit. Nulla placeat eius in, alias architecto magnam aliquid debitis adipisci voluptate. Lorem ipsum, dolor, sit amet consectetur adipisicing elit. Voluptate, aut. Aspernatur sapiente ad quod perspiciatis pariatur necessitatibus, omnis, labore dolore minus expedita, suscipit rerum vitae repellendus quia at aperiam laborum!</p>
                                <p  style="color:#525252">Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis iusto odit quidem commodi voluptates vitae dolores temporibus itaque labore cumque nobis animi facilis, quod, nisi laboriosam sit. Veritatis tenetur, commodi.</p>
                                    }
                                }
                               
                                <div class="readmore-button-wrapper text-center" style="position: absolute; bottom: 0px; left: 0px; width: 100%; z-index: 2;">
                                    <a href="#" class="text-decoration-none">Read More <i class="fas fa-chevron-down text-2 ms-1"></i></a>
                                </div>
                                <div class="readmore-overlay" style="background: linear-gradient(rgba(2, 0, 36, 0) 0%, rgb(255, 255, 255) 100%); position: absolute; bottom: 0px; left: 0px; width: 100%; height: 100px; z-index: 1;"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
