@using Web.Models.Dtos
@model List<Blog>
@{
    var categorydata = ViewBag.CategoryDatas as List<Category>;
    var branddata = ViewBag.BrandsDatas as List<FeatureDescription>;
    var blog = ViewBag.Blog as List<Blog>;
    var breadcrumbdata = TempData["BreadCrumb"];
    var page = TempData["Page"];
    string _page = page.ToString();
    TempData["Title"] = page;
    Breadcrumb breadcrumb = new();
    if (breadcrumbdata != null && page != null)
    {
        breadcrumb.Page = page.ToString();
        breadcrumb.Data = breadcrumbdata as List<string>;
    }
}



<div itemscope="" itemtype="https://schema.org/WebPage">
    @await Component.InvokeAsync("BreadCrumb", breadcrumb)
    <span itemprop="name" style="display:none;">@_page</span>
    <div class="container py-4">

        <div class="row">
            <div class="col-sm-3">

                <h3 class="font-weight-bold text-4 mb-2">Ürünler</h3>
                <ul class="list list-icons list-icons-sm mb-4">


                    <li>
                        <a href="/Urunler">
                            <i class="far fa-file"></i>
                            Ürünler
                        </a>
                    </li>
                    @if (categorydata != null)
                    {
                        <li>
                            @foreach (var itemCat in categorydata)
                            {
                                <h4 class="font-weight-bold text-3 mb-1 mt-2">@itemCat.Name</h4>
                                @foreach (var itemSubCat in itemCat.SubCategories)
                                {
                                    <ul class="list list-icons list-icons-sm mb-3 text-2">
                                        <li>
                                            <a href="/Urunler/@StringProcess.GetPath(itemCat.Name)/@StringProcess.GetPath(itemSubCat.Name)/@itemSubCat.Id"><i class="far fa-file"></i>@itemSubCat.Name</a>
                                        </li>
                                    </ul>
                                }
                            }
                        </li>
                    }
                </ul>

            </div>

            <div class="col-sm-3">

                <h3 class="font-weight-bold text-4 mb-2">Markalar</h3>
                <ul class="list list-icons list-icons-sm mb-4">
                    <li>
                        <a href="/Markalar">
                            <i class="far fa-file"></i>
                            Markalar
                        </a>
                    </li>
                    @if (branddata != null)
                    {
                        <li>
                            @foreach (var itemBrands in branddata)
                            {
                                <ul class="list list-icons list-icons-sm mb-3 text-2">
                                    <li>
                                        <a href="/Urunler/Marka/@StringProcess.GetPath(itemBrands.FeatureDesc)/@itemBrands.Id"><i class="far fa-file"></i>@itemBrands.FeatureDesc</a>
                                    </li>
                                </ul>
                            }
                        </li>
                    }
                </ul>
            </div>

            <div class="col-sm-3">

                <h3 class="font-weight-bold text-4 mb-2">Blog</h3>
                <ul class="list list-icons list-icons-sm mb-4">
                    <li>
                        <a href="/Blog">
                            <i class="far fa-file"></i>
                            Blog
                        </a>
                    </li>
                    @if (blog != null)
                    {
                        <li>
                            @foreach (var itemblog in blog)
                            {
                                <ul class="list list-icons list-icons-sm mb-3 text-2">
                                    <li>
                                        <a href="/Blog/@itemblog.Id"><i class="far fa-file"></i>@itemblog.Title</a>
                                    </li>
                                </ul>
                            }

                        </li>
                    }
                </ul>

            </div>
            <div class="col-sm-3">

                <h3 class="font-weight-bold text-4 mb-2">Hakkımızda</h3>
                <ul class="list list-icons list-icons-sm mb-4">
                    <li>
                        <ul class="list list-icons list-icons-sm mb-3 text-2">
                            <li>
                                <a href="/Hakkimizda"><i class="far fa-file"></i>Hakkımızda</a>
                            </li>
                        </ul>
                    </li>
                </ul>

            </div>
            <div class="col-sm-3">

                <h3 class="font-weight-bold text-4 mb-2">Bize Ulaşın</h3>
                <ul class="list list-icons list-icons-sm mb-4">
                    <li>
                        <ul class="list list-icons list-icons-sm mb-3 text-2">
                            <li>
                                <a href="/BizeUlasin"><i class="far fa-file"></i>Bize Ulaşın</a>
                            </li>
                        </ul>
                    </li>
                </ul>

            </div>
            <div class="col-sm-3">

                <h3 class="font-weight-bold text-4 mb-2">Sıkça Sorulan Sorular</h3>
                <ul class="list list-icons list-icons-sm mb-4">
                    <li>
                        <ul class="list list-icons list-icons-sm mb-3 text-2">
                            <li>
                                <a href="/Sikca-Sorulan-Sorular"><i class="far fa-file"></i>Sıkça Sorulan Sorular</a>
                            </li>
                        </ul>
                    </li>
                </ul>

            </div>
        </div>

    </div>

</div>

