@using Web.Models.Dtos
@model ProductDto
@{
    List<string> filterFeatureId = new();
    List<int> checkedFilterItems = new();
    if (Model != null && !string.IsNullOrEmpty(Model.SelectedFilterfeatureDescItems))
    {
        var selectedItems = Model.SelectedFilterfeatureDescItems.Split(",");
        foreach (var item in selectedItems)
        {
            checkedFilterItems.Add(Convert.ToInt32(item));
        }
    }

}



<aside class="sidebar">
    @await Component.InvokeAsync("TextSearch", Model)

    @* <form action="page-search-results.html" method="get">
        <div class="input-group mb-3 pb-1">
        <input class="form-control text-1" placeholder="Search..." name="s" id="s" type="text">
        <button type="submit" class="btn btn-dark text-1 p-2"><i class="fas fa-search m-2"></i></button>
        </div>
        </form>*@
    @if (Model != null && Model.Features != null && Model.Features.Count > 0)
    {
        <h3 id="filtertitle" class="card-title mb-3"> Filtre <i id="filtericon" class="icon-arrow-down icons float-end filtericon "></i></h3>
    }
    @*<form id="filterform" method="post" action="/@catName/filter/@catId">*@
    <form id="filterform" method="post" action="@Model.FilterUrl" asp-antiforgery="true">
        <div class="" id="collapse1One">
            <input type="hidden" asp-for="SelectedFilterfeatureDescItems" value="" />
            <input type="hidden" asp-for="SelectedFilterfeatureItems" value="" />
            @foreach (var item in Model.Features)
            {
                <div class="col-lg-12 mb-0 mb-lg-0">
                    <div class="accordion accordion-sm without-bg mb-1" id="accordion_@item.Name">
                        <div class="card card-default">
                            <div class="card-header">
                                <h4 class="card-title m-0">
                                    <a class="accordion-toggle collapsed" data-bs-toggle="collapse" data-bs-parent="#accordion_@item.Name" href="#@StringProcess.ClearString(item.Name)" aria-expanded="false">
                                        @item.Name
                                        <i class="icon-arrow-down icons float-end"></i>
                                    </a>

                                </h4>
                                <hr style="margin:0px;" />
                            </div>
                            <div id="@StringProcess.ClearString(item.Name)" class="collapse featurebar" style="padding-left:20px;">
                                @foreach (var itemFD in item.FeatureDescriptions)
                                {

                                    <div class="checkbox-custom checkbox-default">
                                        @if (checkedFilterItems != null && checkedFilterItems.Contains(itemFD.Id))
                                        {
                                            <input name="filterinput" type="checkbox" checked data-fetureval="@itemFD.FeatureId" value="@itemFD.Id" id="@itemFD.FeatureDesc">
                                        }
                                        else
                                        {
                                            <input name="filterinput" type="checkbox" data-fetureval="@itemFD.FeatureId" value="@itemFD.Id" id="@itemFD.FeatureDesc">
                                        }
                                        <label for="@itemFD.FeatureDesc">@itemFD.FeatureDesc</label>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            }
            <button type="submit" id="filterbutton" class="btn btn-modern btn-sm mb-2 btn-primary btn-outline btn-arrow-effect-1">Uygula<i class="fas fa-arrow-right ms-2"></i></button>
        </div>

        @*<button id="filterbutton" data-catname-val="@StringProcess.ClearString(catName)" data-catId-val="@catId" class="btn btn-modern btn-sm mb-2 btn-primary btn-outline btn-arrow-effect-1">Uygula<i class="fas fa-arrow-right ms-2"></i></button>*@


    </form>



</aside>